export NETWORK_NAME=""
export SUBNET_NAME=""
export REGION="us-central1"
export DOMAINNAME="example.com"
export CERTIFICATE_NAME="secure-web-proxy-cert"
export KEY_NAME="secure-web-proxy-key"
export POLICY_NAME="secure-web-proxy"
export POLICY_FILE="basic_policy.yaml"
export RULE_NAME="github"
export RULE_FILE="rule_policy.yaml"
export GATEWAY_NAME="secure-web-proxy"
export GATEWAY_FILE="gateway_policy.yaml"